body {
    font-family: Inter,sans-serif;
    text-align: center;
}
.title {
    margin-top: 5rem;
}
.title h1{
    font-size: 4rem;
    margin-bottom: 0.75rem;
}
.credits {
    margin-bottom: 1.2rem;
    position: fixed;
    left: 0;
    width: 100%;
}
#github_logo {
    height: 4rem;
    width: 4rem;
}

.alert-message-danger {
    padding: 6px 10px;
    border-left-width: 0;
    border-radius: 3px;
    color: #A94442;
    background-color: #F6C6C6;
}

.alert-message-warning {
    padding: 6px 10px;
    border-left-width: 0;
    border-radius: 3px;
    color: #a9a042;
    background-color: #f6ecc6;
}

.alert-message-success {
    padding: 6px 10px;
    border-left-width: 0;
    border-radius: 3px;
    color: #58a942;
    background-color: #d4f6c6;
}

.alert-message-info {
    padding: 6px 10px;
    border-left-width: 0;
    border-radius: 3px;
    color: #429da9;
    background-color: #c6f2f6;
}